.app-component-main-wrapper{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.app-component-display-container{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.app-component-cluster-container{
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: center;
}